body { 
    text-align: center; 
}
h1 { 
    font-size: 40px; 
    font-family: sans-serif; 
    font-weight: 300; 
}

#app { 
    background-color: aliceblue; 
}

#game{ 
    background-color:lightcoral; 
}
img { 
    width: 300px; 
}

.line {
    height: 6px;
    background-color: #000;
    width: 70px;
    margin: 8px auto;
}
.carousel-inner  { 
    margin-top: 15px; 
    color : white; 
    font-size: 20px; 
}